# Lombok configuration file
# Per la documentazione completa: https://projectlombok.org/features/configuration

# Abilita la generazione di getter e setter per default
lombok.getter.setter.flagUsage = WARNING

# Abilita la generazione di costruttori senza argomenti per default
lombok.noArgsConstructor.flagUsage = WARNING

# Abilita la generazione di costruttori con tutti gli argomenti per default
lombok.allArgsConstructor.flagUsage = WARNING

# Abilita la generazione di toString per default
lombok.toString.flagUsage = WARNING

# Abilita la generazione di equals e hashCode per default
lombok.equalsAndHashCode.flagUsage = WARNING

